<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>TodoListApp</title>
  </head>
  <body>
    <main class="main">
      <section>
        <div class="div-title">
          <h3 class="main__logo">
            <a href="" class="main__link">{{date_format}}</a>
          </h3>
          <span class="subtitle">{{qtd_tasks}} Tarefas para hoje</span>
        </div>
        <div class="text-area-div">
          <form action="/" class="form-task" method="POST">
            <textarea
              placeholder="Adicione uma nova tarefa..."
              name="content"
              id="task"
            ></textarea>
            <button class="button-18" type="submit">Adicionar</button>
          </form>
        </div>
        <hr class="linha-horizontal" />
        {% for task in tasks %}
        <div class="task">
          <h4>
            {{task}}
            <i class="fa-regular fa-trash-can"></i>
            <hr class="linha-horizontal" />
          </h4>
        </div>
        {% endfor %}
      </section>
    </main>
  </body>
</html>
